<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvParser" class="ru.otus.homework1.util.CsvParser"/>

    <bean id="dataSource" class="ru.otus.homework1.config.DataSource">
        <constructor-arg name="fileName" value="test.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.homework1.service.QuestionServiceImpl">
        <constructor-arg index="0" ref="dataSource"/>
        <constructor-arg index="1" ref="csvParser"/>
    </bean>

</beans>
