<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns: xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of all books</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<form id="edit-form" action="addEdit.html" th:object=${book}>
    <div class="form-group row col-md">
        <div class="col-md-2">
            <label for="name-input">Ид</label>
            <input id="id-input" type="text" class="form-control" th:value=*{id} value="1" disabled/>
        </div>
        <div class="col-md-6">
            <label for="name-input">Название</label>
            <input id="name-input" type="text" name="name" class="form-control" disabled
                   th:value=*{name}/>
        </div>
    </div>
    <div class="form-group row col-md">
        <div class="col-md-4">
            <label for="genre-input">Жанр</label>
            <input id="genre-input" type="text" name="name" class="form-control" disabled
                   th:value=*{genre?.name}>
        </div>
        <div class="col-md-4">
            <label for="author-input">Жанр</label>
            <input id="author-input" type="text" name="name" class="form-control" disabled
                   th:value="${#strings.listJoin(book.authorList.![fullName], ', ')}"
            >
        </div>
    </div>
</form>
<h4>Комментарии</h4>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Текст</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment, iter :${comments}">
        <th scope="row" th:text="${iter.index+1}">#</th>
        <td th:text="${comment.text}"></td>
        <td th:text="${comment.createdOn}"></td>
    </tr>
    </tbody>
</table>
</body>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</html>